.frame {
  padding:0 217px 0 217px;
  box-sizing: border-box;
  width: 1052px;
  height: 142px;
  overflow: visible;
  border: 1px solid #33AAFF;
}

.damion-white {
  font-family: "Damion", serif;
  font-size: 56px;
  color: #ffffff;
  letter-spacing: -0.2px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}
