#navbar {
    background-color: #1B2B83 !important;
    font-family: 'Teko', cursive;
    .navbar-brand {
        a {
            color:white;
            font-family: 'Damion', cursive;
        }

    }
}