// Logo : font-family: 'Damion', cursive; // Titles : font-family: 'Teko', cursive;

body {
  box-sizing: border-box;
  height: 1188px;
  overflow: visible;
  background: linear-gradient(143deg, #001eff 0%, hsl(245, 100%, 25%) 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Damion&family=Teko:wght@300&display=swap');
