body {
  width: auto;
  height: 100vh;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  overflow: visible;
  background: linear-gradient(143deg, #001eff 0%, hsl(245, 100%, 25%) 100%);
  color: white;
}
